@import url('https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
}

/* Nav Bar Style */
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  position: relative;
  background-color: hsl(0, 0%, 100%);
  border-bottom: 1px solid hsl(0, 0%, 100%);
  z-index: 10;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 1.5rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-logo {
  width: auto; 
  height: 25px;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: hsl(0, 0%, 100%);
}

.nav-menu {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.nav-item {
  margin: 0 1.5rem;
}

.nav-link {
  font-size: 1rem;
  font-weight: 400;
  color: hsl(233, 26%, 24%);
}

/* Invite Button CSS */
.invite-btn {
  padding: 1.3em 3em;
  font-size: 12px;
  font-weight: 500;
  color: hsl(0, 0%, 100%);
  background-color: hsl(136, 65%, 51%);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.invite-btn:hover {
  box-shadow: 0px 15px 20px hsl(233, 8%, 62%);
  color: #fff;
  transform: translateY(-7px);
}

.invite-btn:active {
  transform: translateY(-1px);
}

/* Content CSS */
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: hsl(0, 0%, 100%);
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
  z-index: 2;
}

.content-image-container {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-image {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.content-desktop-background {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 1034px;
}

.content-mobile-background {
  display: none;
}

.content-header {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: hsl(233, 26%, 24%);
}

.content-body {
  font-size: 1rem;
  color: hsl(233, 8%, 62%);
  margin-bottom: 1rem;
}

.content-btn {
  max-width: 195px;
}

/* Secondary Content CSS */
.secondary-content-container {
  background-color: hsl(0, 0%, 98%);
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

.secondary-content-header {
  color: hsl(233, 26%, 24%);
}

.secondary-content-body {
  color: hsl(233, 8%, 62%);
  margin-bottom: 15px;
}

.secondary-content-list {
  display: flex;
}

.secondary-content-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.content-item-icon {
  height: 100px;
  width: 100px;
}

.content-item-header {
  color: hsl(233, 8%, 24%);
  margin-bottom: 10px;
}

.content-item-body {
  color: hsl(233, 8%, 62%);
}

/* Article CSS */
.article-container {
  margin: 20px;
  position: relative;
  z-index: 1;
}

.article-header {
  color: hsl(233, 8%, 24%);
  margin-bottom: 15px;
}

.article-list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.article-post-item {
  flex-grow: 1 1 30%;
  max-width: 500px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.article-post-container {
  padding: 30px;
}

.article-post-image {
  width: 100%;
  height: 300px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.article-post-author {
  color: hsl(233, 8%, 62%);
}

.article-post-header {
  color: hsl(233, 26%, 24%);
}

.article-post-header:hover {
  color: hsl(136, 65%, 51%);
  transition: color 0.3s ease;
}

.article-post-body {
  font-size: 0.95rem;
  color: hsl(233, 8%, 62%);
  margin-top: 5px;
}

/* Footer CSS */
.footer-container {
  width: 100%;
  height: auto;
  background-color: hsl(233, 26%, 24%);
  padding: 15px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-logo {
  max-width: 150px;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  fill: hsl(0, 0%, 100%);
}

.footer-social-icons {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  color: hsl(0, 0%, 100%);
}

.footer-page-container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.footer-page-list {
  list-style: none;
  padding: 0;
}

.footer-page-list li {
  margin-bottom: 10px;
}

.footer-link a {
  color: hsl(0, 0%, 100%);
}

.footer-end-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-btn {
  margin-bottom: 10px;
}

.copyright-text {
  font-size: 14px;
  color: hsl(233, 8%, 62%);
}

/* Mobile CSS */
@media (max-width: 768px) { 
  .nav-logo {
    width: auto; 
    height: 25px;
  }
  
  .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  
  .nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    width: 100%;
    left: 0;
    align-items: center;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: hsl(0, 0%, 100%);
    margin-top: 50px;
  }

  .nav-menu.active {
    display: flex;
  }

  .nav-menu a {
    text-decoration: none;
    color: hsl(233, 26%, 24%);
    padding: 10px 0;
    width: 100%;
    text-align: center;
  }

  .nav-menu a:hover {
    color: hsl(136, 65%, 51%);
  }

  .hamburger.active .bar {
    background-color: hsl(136, 65%, 51%);
  }

  .hamburger.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(9px, 9px);
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(9px, -9px);
  }

  @keyframes dropdown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: hsl(233, 26%, 24%);
  }
  
  .navbar-btn {
    display: none;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }

  .content-image-container {
    order: 1;
    width: 100%;
  }

  .content-container {
    order: 2;
    max-width: 100%;
    width: 100%;
    text-align: center;
    flex-wrap: nowrap;
  }

  .content-desktop-background {
    display: none;
  }

  .content-mobile-background {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }

  .content-header {
    text-align: center;
  }

  .content-body {
    text-align: center;
  }

  .invite-btn {
    align-self: center;
  }

  .secondary-content-container {
    text-align: center;
  }

  .secondary-content-list {
    flex-direction: column;
  }

  .secondary-content-item {
    display: content;
  }

  .article-header {
    text-align: center;
  }

  .article-list {
    flex-direction: column;
    gap: 0;
  }

  .article-post-item {
    margin-bottom: 30px;
    padding: 0px;
  }

  .article-post-image {
    width: 100%;
    height: auto;
    padding: 0px;
  }

  .article-post-container {
    padding: 15px;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-page-container {
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
  }

  .footer-end-section {
    align-items: center;
  }

  .footer-logo {
    margin-bottom: 20px;
  }

  .footer-btn {
    width: 100%;
    max-width: 300px;
  }
}