<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Frontend Mentor | EasyBank</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/index.css">
        <link rel="icon" type="image/x-icon" href="../assets/images/favicon-32x32.png">
        <style>
            .attribution { font-size: 11px; text-align: center; }
            .attribution a { color: hsl(228, 45%, 44%); }
        </style>
        <script type="text/javascript" src="../javascript/script.js"></script>
    </head>
    <body>
        <div class="header">
            <nav class="navbar">
                <img class="nav-logo" src="../../assets/images/logo.svg" alt="image of logo" />
                <ul className="nav-menu">
                    <li class="nav-item"><a class="nav-link" href="#home">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="#blog">Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="#careers">Careers</a></li>
                </ul>
                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <button class="invite-btn" role="button">Request Invite</button>
            </nav>
        </div>
        <div>

        </div>
        <div class="attribution">
            Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
            Coded by <a href="#">Joshua Campbell</a>.
        </div>
    </body>
</html>